/* reset */
* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: Georgia,Arial,Helvetica;
	font-size: 14px;
	color: #A6A6A6;
}

a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

/* style bling blocks */

body{
	margin: 0;
	padding: 0;
	background-color: white;
}

.content {
	 a{
		text-decoration: none;
		color: #cc950e;
		-webkit-transition: color 0.2s linear;
		-moz-transition: color 0.2s linear;
		-ms-transition: color 0.2s linear;
		transition: color 0.2s linear;
	}
	
	p{
		margin-top: 0; padding-top: 0;
	}
	
	a:hover{
		color: #777777;
	}
	
	
	#header{
		background: #272727;
		
	}
	
	#headercontainer{
		padding-top: 30px;
		color:white;
	}
	
	#logo{
		margin-bottom:10px;
	}
	
	h1{
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 40px;
		color: #eceef1;
		text-align: center;
		margin-bottom: 2px;
	}
	
	#pitch{
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		color: #828c97;
		text-align: center;
	}
	
	p.pitch{
		color: #777777;
	}
	
	
	
	#butcenter{
		width: 600px;
		margin: auto;
	}
	
	#test{
		margin: auto;
		width: 360px;
	}
	
	#test .span6 {
		height: 50px;
		text-align:center;
		
		margin-top: 34px;
		margin-bottom: 20px;
	}
	
	a.button {
	  background: #cc950e;
	  color: #eceef1;
	  text-align:center;
	  font-weight: bold;
	  width: 150px;
	  padding:  10px 0 14px 0;
	  font-family: 'Lato', sans-serif;
	  font-size: 16px;
	  -moz-border-radius: 15px;
	  border-radius: 15px;
	  -webkit-transition: 0.25s;
	  -moz-transition: 0.25s;
	  -o-transition: 0.25s;
	  transition: 0.25s;
	  display:inline-block;
	  }
	  
	a.button:hover{
		background: #3c3c3c;
	}
	 
	 #container{
	 	width: 700px;
	 	margin: auto;
	 	height: 1000px;
	 }
	 
	 #column{
	 	width: 350px;
	 	height: 250px;
	 	float: left;
	 	margin-bottom: 40px;
	 	margin-top: 40px;
	 }
	 
	 h2{
	 	font-family: 'Lato', sans-serif;
	 	font-size: 24px;
	 	color: #cc950e;
	 	margin-top: 30px;
	 	padding-bottom: 0px;
	 }
	 
	 p{
	 	font-family: 'Lato', sans-serif;
	 	font-size: 16px;
	 	color: #272727;
	 	line-height:24px;
	 }
	 
	 hr{
	 	border-color: #e1e1e1;
	 }
	 
	#sub{
	 	width: 300px;
	 	margin: auto;
	 	font-family: 'Lato', sans-serif;
	 	font-size: 14px;
	 	color: #27313d;
	 	text-align: center;
	 	margin-top: 30px;
	 }
	 
	#footer{
		height: 100px;
		background-color: #3c3c3c;
	}
	 
	#footercontainer{
		height: 66px;
		width: 800px;
		margin: auto;
		text-align: center;
		padding-top: 38px;
	}

}

#layouter-admin-toggle i {
	color: #cc950e;
}
